.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  z-index: 0;
  cursor: pointer;
}

.card__footer {
  padding: 12px 0 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
}

.card__like-button {
  background: transparent url(../images/like-icon-State=Hover.svg) center
    no-repeat;
  background-size: contain;
  padding: 0;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url("../images/like-icon-state=liked.svg");
  opacity: 1;
  cursor: pointer;
}

.card__like-button_liked:hover {
  background-image: url("../images/like-icon-state=liked+hover.svg");
}

.card__delete-button {
  position: absolute;
  background: url(../images/delete-icon.svg) center no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  top: 10px;
  right: 10px;
  opacity: 0.6;
  cursor: pointer;
}

.card__delete-button:hover {
  background: url(../images/delete-icon-State=Hover.svg) center no-repeat;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__content {
    padding-bottom: 2px;
  }
  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 90%;
    padding-bottom: 2px;
  }
}
